---
import LayoutPrincipal from '@layouts/LayoutPrincipal.astro';
---

<LayoutPrincipal>
  <div class='w-full h-80'>
    <h1 class='text-4xl mx-96 my-40'>Error al cargar la pagina</h1>
  </div>
</LayoutPrincipal>
