---
import LayoutPrincipal from '@layouts/LayoutPrincipal.astro';
import FlipCard from '../components/FlipCard.tsx';
---

<LayoutPrincipal>
  <div class='grid gap-10 lg:gap-14'>
    <h1 class='text-lg md:text-3xl lg:text-5xl 2xl:text-6xl font-black mt-5 mb-8 w-10/12 lg:w-3/4 mx-auto text-red-500'>
      Explorando la opresión femenina en las chicas de la Yogurtería
    </h1>
    <div class='grid grid-cols-2 w-10/12 lg:w-3/4 mx-auto'>
      <div>
        <h1 class='text-red-500 text-base md:text-2xl lg:text-4xl 2xl:text-5xl font-bold mb-2'>
          María Pilar Dughi Martínez
        </h1>
        <p class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>
          María Pilar Dughi Martínez (1956-2006) fue una de las cuentistas peruanas más reconocidas de la segunda mitad
          del siglo XX. Antes de que su pasión por la literatura la llevara a dedicarse a escribir, trabajó como
          psiquiatra en diversas ONG. Fue desde entonces que empezó a escribir relatos de las décadas de los 80. Luego,
          estudió literatura en la Universidad Nacional Mayor de San Marcos y en la Pontificia Universidad Católica del
          Perú.
        </p>
      </div>
      <div>
        <img src='/imagenchica.png' class='w-10/12 lg:w-5/12 h-auto mx-auto rounded-xl' />
      </div>
    </div>

    <div class='grid grid-cols-2 w-10/12 lg:w-3/4 mx-auto'>
      <div>
        <img src='/chicas de la yogunteria.png' class='w-11/12 lg:w-10/12 h-auto mx-auto rounded-xl' />
      </div>
      <div>
        <h1 class='text-red-500 text-base md:text-2xl lg:text-4xl 2xl:text-5xl font-bold mb-2'>
          Presentación de libro
        </h1>
        <lo class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>
          <li>Título de la obra: Las chicas de la Yogurtería</li>
          <li>Medio de divulgación: Cuento</li>
          <li>Año de publicación: 2002</li>
          <li>Temas: Narrativa Realista</li>
          <li>
            Propósito Comunicativo: En este cuento nos sumergimos en el machismo y opresión cotidiano de su época y
            contrastádolo con los cambios actuales en la sociedad.
          </li>
        </lo>
      </div>
    </div>
    <div class='w-10/12 lg:w-3/4 mx-auto'>
      <p class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>
        En su cuento “Las chicas de la Yogurtería”, ya que aborda temas contemporáneos que resuenan en la actualidad. En
        este relato, la autora nos muestra una faceta en la cual el machismo es el pan de cada día. Este se ve reflejado
        en la vida de Lucha, la protagonista del cuento, quien viaja a Ayacucho por motivos laborales, lo que le permite
        mantenerse económicamente y ser una miembro funcional de la sociedad e incluso se habla de la aparición del SIDA
        en la provincia y como el pueblo se organiza para controlarlo, empezando por controlar a las mujeres.
      </p><br />
      <p class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>
        Sin embargo, durante su estancia, enfrenta numerosos conflictos con la ciudad y sus habitantes, ya que no se
        "ajusta a las expectativas tradicionales asignadas al rol de la mujer y lo femenino". En los años de la autora,
        las mujeres, principalmente, cumplían el rol de casarse y ser amas de casa Si bien la situación ha cambiado en
        algunos aspectos, estos estereotipos siguen vigentes en el imaginario colectivo. Esto se puede ver en la
        literatura contemporánea, diversos autores han desafiado las expectativas tradicionales de género y explorado
        nuevas perspectivas sobre el rol de la mujer en la sociedad Autoras como Virginia Woolf y Sylvia Plath han
        abordado de manera innovadora temas relacionados con la identidad, la emancipación y la igualdad de género en
        sus obras. A través de sus escritos, estas autoras han contribuido a redefinir y cuestionar las normas
        establecidas, promoviendo una visión más amplia y diversa de lo que significa ser mujer.
      </p>
    </div>
    <div class='w-10/12 lg:w-3/4 mx-auto'>
      <img src='/clasicos.png' class='w-10/12 lg:w-12/12 h-auto mx-auto rounded-xl' />
    </div>

    <div
      class='relative w-full text-white'
      style="background: url('/gentecaminando.gif') no-repeat center center; background-size: cover;">
      <div class='bg-overlay'></div>
      <div class='relative z-10 py-12 pl-8 pr-14 lg:pl-20 lg:pr-96'>
        <h1 class='text-lg md:text-3xl lg:text-5xl 2xl:text-6xl font-bold mb-2'>¿Cual es nuestro objetivo?</h1>
        <p class='text-sm md:text-lg lg:text-2xl 2xl:text-4xl'>
          El objetivo de esta reseña es hacer reflexionar al lector sobre la representación del machismo y la opresión
          hacia las mujeres en la obra de Pilar Dughi, centrándose específicamente en su cuento "Las chicas de la
          Yogurtería."
        </p><br />
        <p class='text-sm md:text-lg lg:text-2xl 2xl:text-4xl'>
          Este análisis pretende destacar cómo la autora aborda temas modernos que hoy en día siguen sucediendo,
          ilustrando el machismo cotidiano de su época reflejado en la vida de Lucha y contrastándolo con los cambios
          actuales en la dinámica laboral.
        </p>
      </div>
    </div>
    <div class='w-10/12 lg:w-3/4 mx-auto'>
      <h1 class='text-lg md:text-3xl lg:text-5xl 2xl:text-6xl font-black mt-10 mb-8 w-10/12 lg:w-3/4 text-red-500'>
        Análisis Temático y Vinculación con la Narrativa
      </h1>
      <p class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>
        En primer lugar, es fundamental situar el contexto del cuento "Las chicas de la Yogurtería" de María Pilar Dughi
        el cual se centra en la vida de Lucha, una mujer que se enfrenta al machismo y las normas de género en su
        entorno laboral y social.
      </p>
      <p class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>
        A través de su viaje a Ayacucho por motivos laborales e incluso expone las dificultades y por las cuales Lucha
        debe superar para mantener su autonomía y funcionalidad en una sociedad tradicionalmente patriarcal.
      </p>
      <p class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>
        Al igual que las obras de Virginia Woolf y Sylvia Plath, toca temas de identidad femenina, emancipación y
        equidad de género, cuestionando los roles convencionales de las mujeres tanto en la literatura como en la
        sociedad.
      </p>
      <p class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>Por ejemplo, en el siguiente fragmento nos dice:</p><br />
      <div class='relative grid grid-cols-2 grid-rows-2 gap-4 h-[950px]'>
        <FlipCard
          title='FRAGMENTO 1'
          description='Lucha se presentó como estaba habituada a hacerlo. Pensaba que en una ciudad donde la mayor parte de gente se conocía, una debía ser cordial. La tendera se llamaba Charito y conocía bastante de productos naturales. Le habló del germen de trigo y le mostró con orgullo una colección de Infusiones medicinales empaquetadas, semejantes a las que se vendían en el mercado.'
          backText='La autora nos relata cómo Lucha intenta conocer a la gente de Ayacucho, tratar de familiarizarse y conoce a una señora que se llamaba Charito, ella tenía un amplio conocimiento sobre los productos medicinales naturales. Desde esta perspectiva, la autora parece estar destacando cómo Lucha, al interactuar con Charito, está explorando y aprendiendo sobre los recursos locales y las personas que los manejan en Ayacucho.'
          backText2='Es un momento que resalta la importancia de las relaciones comunitarias y el intercambio de conocimientos en un ambiente pequeño y familiar.'
          client:load
        />
        <FlipCard
          title='FRAGMENTO 2'
          description='Hablaron de dietas y de cómo conservar mejor la piel en el clima serrano. El frío helado de la ciudad le había resecado a Lucha el cutis y los labios. En ocasiones había sufrido de gastritis y reacciones alérgicas de causa desconocida.'
          backText='La cita menciona las dietas y cómo el clima frío de Ayacucho estaba afectando el cutis de Lucha.'
          backText2='Además, sufrió de gastritis y reacciones alérgicas cuya causa era desconocida. Lucha está enfrentando desafíos físicos debido al clima extremo y podría estar buscando consejos o soluciones para manejar mejor estos problemas de salud.La mención de las reacciones alérgicas sin causa conocida podría indicar una preocupación por su bienestar general y su adaptación a las condiciones locales de Ayacucho.'
          client:load
        />
        <FlipCard
          title='FRAGMENTO 3'
          description='Una vecina le explicó confidencialmente a Lucha que ese hombre era un antiguo policía que había sido dado de baja por comportamiento violento. Le pegaba a su mujer y a sus hijos y era un borracho.'
          backText='Esta cita revela cómo una vecina confió a Lucha que el hombre era un ex policía con un historial de comportamiento abusivo y problemático. La vecina está compartiendo esta información con Lucha para alertarla sobre el comportamiento peligroso y problemático del hombre en cuestión.'
          backText2='Esto podría implicar preocupaciones sobre la seguridad y el bienestar de la familia afectada por el comportamiento abusivo del individuo.'
          client:load
        />
        <FlipCard
          title='FRAGMENTO 4'
          description='La habían invitado a una reunión por la noche y pensó que le convenía salir para despejarse un poco. Casi no había podido trabajar en la oficina, apurando a los albañiles para que terminaran la construcción y buscando a un cerrajero que le reemplazara las bisagras oxidadas de las puertas.'
          backText='En esta cita se explica que, a pesar de estar abrumada por el trabajo y las preocupaciones, Lucha considera que asistir a una reunión nocturna a la que ha sido invitada podría ser beneficioso para relajarse. Lucha ha estado ocupada supervisando a los albañiles y buscando un cerrajero para cambiar las bisagras oxidadas de las puertas, lo que indica un período estresante y la necesidad de un descanso social. Se resalta la importancia del equilibrio entre el trabajo y el descanso, mostrando cómo Lucha intenta encontrar momentos para relajarse y desconectar de sus responsabilidades diarias. También refleja su determinación para mantener su autonomía y bienestar emocional, a pesar de las presiones externas y los desafíos que enfrenta en su entorno laboral y personal.'
          client:load
        />
      </div>
    </div>

    <div class='grid grid-cols-2 w-10/12 lg:w-3/4 mx-auto'>
      <div>
        <img src='/images.png' class='w-11/12 lg:w-10/12 h-auto mx-auto rounded-xl' />
      </div>
      <div>
        <h1 class='text-red-500 text-base md:text-2xl lg:text-4xl 2xl:text-5xl font-bold mb-2'>Conclusión</h1>
        <p class='text-xs md:text-base lg:text-xl 2xl:text-3xl'>
          "Las chicas de la Yogurtería" no solo presenta un relato sobre la vida de Lucha, sino que también invita a
          reflexionar sobre la constante batalla por la autonomía y la dignidad en un entorno marcado por el machismo y
          las injusticias sociales, destacando la importancia del apoyo comunitario y el entendimiento mutuo en la
          búsqueda de la igualdad y el bienestar personal.
        </p>
      </div>
    </div>
    <div
      class='relative w-full text-white'
      style="background: url('/hombre.gif') no-repeat center center; background-size: cover;">
      <div class='bg-overlay'></div>
      <div class='relative z-10 py-16 px-28 text-center'>
        <h1 class='text-base md:text-2xl lg:text-4xl 2xl:text-5xl font-bold'>
          A través de esta reseña, se busca fomentar una comprensión más profunda de la persistencia de la opresión de
          género y los avances logrados, invitando al lector a cuestionarse y desafiar las estructuras machistas aún
          presentes en nuestra sociedad. ¡Sumérgete en este cuento lleno de intriga!
        </h1>
      </div>
    </div>
  </div>
</LayoutPrincipal>
