---
import '../styles/global.css';
import Redes from '../components/Redes.tsx';
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Explorando la opresión femenino en las chicas de la Yogurtería</title>
  </head>
  <body class='flex flex-col bg-zinc-900 text-white'>
    <Redes />
    <img src='/flores.png' class='w-full h-6 lg:h-12 rounded-xl object-cover' />
    <div class='my-4'>
      <slot />
    </div>
  </body>
</html>
