<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Explorando la opresion femenino en las chicas de la yogurteria</title>
  </head>
  <body class='flex flex-col bg-red-500 text-white w-10/12 lg:w-3/4 mx-auto my-4'>
    <slot />
  </body>
</html>
